{% extends "app/base.html" %}

{% block head_title %}Games{% endblock %}

{% block content%}
<div class="row p-3">
	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Super Mario 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://supermarioplay.com/" target="_blank">Play!</a>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Road Rash 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="hhttps://www.retrogames.cz/play_254-Genesis.php?language=EN"
					Play!</a>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">SmashKarts 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://smashkarts.io/" target="_blank">Play!</a>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Sudoku 🕹️ <span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://sudoku.com/" target="_blank">Play!</a>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Chess 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://www.chess.com/" target="_blank">Play!</a>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Agar.io 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://www.agar.io/" target="_blank">Play!</a>
			</div>
		</div>
	</div>

	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Diep io 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://diep.io/" target="_blank">Play!</a>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
		<div class="card bg-primary"
			style="background-image: linear-gradient(45deg,var(--cui-primary-start,#321fdb) 0%,var(--cui-primary-stop,#1f1498 100%));">
			<div class="card-body px-3 py-4">
				<div class="d-flex justify-content-between align-items-start">
					<div class="color-card">
						<p class="mb-0 color-card-head">Games</p><br>
						<h2 class="text-white">Pac man 🕹️<span class="h5"></span>
						</h2>
					</div>
					<i class="card-icon-indicator mdi mdi-food" style="background-color: rgb(120, 190, 252);"></i>
				</div>
				<a class="text-white" href="https://freepacman.org//" target="_blank">Play!</a>
			</div>
		</div>
	</div>

</div>
{% endblock content %}