{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <title>Signup </title>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
    <!------ Include the above in your HEAD tag ---------->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="p-3" href="/"><img src="{% static 'assets/images/logo.svg' %}" alt="logo" width="225px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{% static 'assets/images/loginusers.png' %}" id="icon" alt="User Icon"
                    style="border-radius: 50% 50% 50% 50%;" />
            </div>

            <!-- Login Form -->
            <form method='post' action="/signup/">
                {% csrf_token %}
                <input type="text" id="fullname" class="fadeIn second" name="fullname" placeholder="fullname">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="email">
                <input type="submit" class="fadeIn fourth" value="Sign In">
            </form>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="{% url 'login' %}">Login Here</a>
            </div>

        </div>
    </div>
</body>

</html>