{% extends "app/base.html" %}

{% block head_title %}Todo{% endblock %}


{% block content%}
  <div class="row">
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">TODO List</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Deadline</th>
                  <th>Priority</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                <tr>
                  <td><a href="{% url 'detailed_todos' todo.id %}">{{ todo.title }}</a></td>
                  <td>{{ todo.deadline_time }}</td>
                  <td>{{ todo.priority }}</td>
                  <td>
                    {% if todo.status %}
                    <label class="badge badge-success">Completed</label>
                    {% else %}
                    <label class="badge badge-danger">Pending</label>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
   
        </div>
        </div>
        </div>
        <div class="col-xl-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">TODO List</h4>
          <form action="{% url 'create_todo' %}" method="POST">
            {% csrf_token %}
           Todo Title<br>
            <p><input  class="form-control" name="todo_title" id="todo_title"  type="text" placeholder="Your todo title"></p>
            Description<br>
            <p><textarea class="form-control" name="todo_description" id="todo_description" cols="30" rows="10" placeholder="Your todo description"></textarea></p>
            <p><input  class="form-control" name="todo_deadline" id="todo_deadline"  type="datetime-local" placeholder="Deadline"></p>
            
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Priority</label>
              <div class="col-sm-3">
                <div>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="todo_priority" id="todo_priority1" value="1" checked /> High </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="todo_priority" id="todo_priority2" value="2" /> Medium </label>
                </div>
              </div>
              <div class="col-sm-3">
                <div>
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="todo_priority" id="todo_priority3" value="3" /> Low </label>
                </div>
              </div>
            </div>
            

            <input  class="form-control btn btn-primary mr-2" type="submit" value="Submit">
        </form>
      </div>
    </div>
    </div>
    </div>
        </div>

{% endblock content %}